body{
  background:#4a4c4c
}
.btn{
  font-size:25px;
  margin: 0 auto;
  background:#00496a;
  color:#FFF;
}
.container-header{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  padding-bottom:0px;
}

input{
  width:50%;
}
#jumbotron{
  background:#FFF;
  color:#013554;
  padding-top:2vh;
  font-size:75px;
  font-weight:700;
  text-align: center;
}

.header-text{
  font-weight: 700;
  font-size:70px;
}
.header-text-smaller{
  font-weight:500;
  font-size:30px;
  margin-top:2vh
}

.card-text{
  font-size:30px;
}

.hangman-text{
  word-spacing: 15px;
}

.container-fluid{
  width:90vw;
  margin: 0 auto;
  display:flex;
  flex-direction:row;
  justify-content:center
}
.card{
  margin: 2% auto;
  border: 3px solid #00496a;
  color:#4a4c4c;
  background:#FFF
}
.card-answer{
  width:60vw;
}

#win-jumbo{
  color:white;
  background:green;
  font-size:60px;
  text-align: center;
}

#answer {
  font-size:30px;
  color: #013554;
}

#lose-jumbo{
  color:white;
  background:red;
  font-size: 60px;
  text-align: center;
}

.wrong-guess{
  font-size:40px;
  color:#013554
}

.card-group{
  display:flex;
  flex-direction:column;
  align-content:center;
}
.container-fluid-2{
  display:flex;
  flex-direction:column
}


#head{
  position:relative;
  background:#FFF;
  height:10vh;
  width:7vw;
  border-radius: 50%;
  margin: 0 auto;
  display: none;
  border: 4px solid #013554;
  z-index:1;
}
#body{
  position:relative;
  background:#FFF;
  height:21vh;
  width:2.5vw;
  border-radius: 50%;
  margin:0 auto;
  display: none;
  border: 4px solid #013554;
  z-index:1;
}

#left-arm{
  position:absolute;
  background:#FFF;
  width:10vw;
  height:2vh;
  border-radius: 50%;
  top:40%;
  left:25%;
  display: none;
  border: 4px solid #013554;
  z-index:0
}

#right-arm{
  position:absolute;
  background:#FFF;;
  width:10vw;
  height:2vh;
  border-radius: 50%;
  top:40%;
  left:50%;
  display: none;
  border: 4px solid #013554;
  z-index:0;
}
#left-leg{
  position:absolute;
  background:#FFF;;
  width:2vw;
  height:16vh;
  border-radius: 50%;
  top:86%;
  left:42%;
  transform:rotate(25deg);
  display: none;
  border: 4px solid #013554;
  z-index:0;
}
#right-leg{
  position:absolute;
  background:#FFF;;
  width:2vw;
  height:16vh;
  border-radius: 50%;
  top:86%;
  left:53%;
  transform:rotate(-25deg);
  display: none;
  border: 4px solid #013554;
  z-index: 0
}
#guesses-left{
  font-size:45px;
  color:#013554;
}
.container-hide{
  visibility:hidden;
}

#jumbo-reset1{
  font-size: 70px;
  color:#013554;
  align-content: center;
  text-align: center;

}



@media only screen and (max-width:875px){

 #left-leg{
  position:absolute;
  background:#FFF;;
  width:6%;
  height:16vh;
  border-radius: 50%;
  top:86%;
  left:38%;
  transform:rotate(25deg);
  display: none;
  border: 4px solid #013554;
  z-index:0;
 }
 #right-leg{
  position:absolute;
  background:#FFF;;
  width:6%;
  height:16vh;
  border-radius: 50%;
  top:86%;
  left:56%;
  transform:rotate(-25deg);
  display: none;
  border: 4px solid #013554;
  z-index:0;
 }
}




